.rodape{
	
	margin-top: 200px
	
}

.lateral{
	margin-top: 50px
}

h1 {
margin-left: 20px
}

.centro{
	margin-top: 30x
}




h5 {
	
	margin-top: 90px
}

.lateral5{
	margin-top:50px
	}
.lateralanuncio {
	margin-top: 30px
}

.cabecalhocad{
	margin-left:  170px
}

h1{
	font-text:"#A0522D"
}