.rodape{
	
	margin-top: 200px
	
}

.lateral{
	margin-top: 50px
}

h1 {
margin-left: 300px
}

.centro{
	margin-top: 30x
}


.centro5{
	margin-top:30px
}


h5 {
	
	margin-top: 90px
}

.lateral5{
	margin-top:50px
	}